<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Word Weaver | Homepage</title>
        <link rel="stylesheet" href="homepage.css">
    </head>
    <body>
        <div id="main-div">
            <img src="blue-fox.png" alt="logo">
            <h1>Welcome to Word Weaver</h1>
            <h3>Login or Register to continue</h3>
            <a class="link-button" href="/login">Login</a>
            <hr id="hr1"><p>OR</p><hr id="hr2">
            <a class="link-button" href="/register">Register</a>
        </div>
        <div id="bottom-div">
            <p>Made with ❤️ by Blue Fox Studio</p>
        </div>
    </body>
</html>